[submodule "Backend/Tacotron2"]
	path = backend/tacotron2
	url = https://github.com/sovaai/sova-tts-engine
[submodule "Backend/Waveglow"]
	path = backend/waveglow
	url = https://github.com/sovaai/sova-tts-vocoder
