[submodule "backend/tacotron2"]
	path = backend/tacotron2
	url = https://github.com/sovaai/sova-tts-engine
[submodule "backend/waveglow"]
	path = backend/waveglow
	url = https://github.com/sovaai/sova-tts-vocoder
