# torch===1.4.0 https://download.pytorch.org/whl/torch_stable.html
soundfile==0.10.3.post1
scipy==1.4.1
librosa==0.7.2
matplotlib==2.1.0
numpy==1.13.3
pillow
-e git+https://github.com/sovaai/sova-tts-tps#egg=TPS